
.cv-block .info-card {
  padding: 40px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  height: 100%;
}

.cv-block .info-card h2 {
  margin-top: 0;
  margin-bottom: 24px !important;
  font-size: 1.4rem;
}

.cv-block .info-card.skills h3 {
  margin-top: 25px;
  font-size: 1rem;
  font-weight: bold;
}

.cv-block .info-card.skills .progress {
  height: 3px;
}

.cv-block .info-card.contact-info .icon {
  font-size: 1.3em;
  color: #c9c9c9;
  position: relative;
  bottom: 4px;
}

.cv-block.info .hobbies p {
  max-width: 700px;
  margin: auto;
  font-size: 1.2em;
}

.page-footer {
  padding-top: 32px;
  border-top: 1px solid #ddd;
  text-align: center;
  padding-bottom: 20px;
}

.page-footer a {
  display: inline-block;
  margin: 0px 10px;
  color: #282b2d;
  font-size: 18px;
}

.page-footer .links {
  display: inline-block;
}

.page-footer .social-icons {
  margin-top: 20px;
  margin-bottom: 16px;
}

.page-footer .social-icons a {
  font-size: 18px;
  margin: 0 3px;
  color: #ffffff;
  border: 1px solid;
  opacity: 0.75;
  border-radius: 50%;
  width: 36px;
  display: inline-block;
  height: 36px;
  text-align: center;
  background-color: #c5c9d2;
  line-height: 34px;
}

.page-footer .social-icons a:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .cv-block {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .cv-block.info .group .period {
    float: right;
  }
}

@media (min-width: 576px) {
  .navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .portfolio-navbar.fixed-top + .page {
    padding-top: 6rem;
  }
}
